header{
 position: fixed;
 top: 0;
 right: 0px;
 left: 0px;
 height: 15%;
 width: 100%;
 background-color: orange;
 box-shadow: 0 -5px 10px brown inset;
 display: inline-table;
}
h1 {
 display: table-cell;
 verical-align: middle;
 top: 10px;
 left: 15px
 font-family: "Racing Sans One", cursive;
 font-variant: small-caps;
 text-align: justify;
}
nav{
 position: fixed;
 bottom: 0px;
 left: 0px;
 height: 80%;
 width: 25%;
 display: inline-table;
 background-color: SkyBlue;
}
div.nav{
 display: table-cell;
 padding: 3px;
 background-color: red;
}
