header{
 position: fixed;
 top: 0;
 right: 0px;
 left: 0px;
 height: 50px;
 width: 100%;
 background-color: orange;
 box-shadow: 0 -5px 10px yellow inset;
 display: inline-table;
}
h1 {
 display: table-cell;
 font-variant: small-caps;
 verical-align: middle;
 top: 10px;
 left: 15px
 font-family: "Racing Sans One", normal;
 text-align: justify;
}
