header{
 position: fixed;
 top: 0;
 right: 0px;
 left: 0px;
 height: 50px;
 width: 100%;
 background-color: orange;
 box-shadow: 0 -5px 10px yellow inset;
}
h1 {
 top: 10px;
 left: 15px
 font-family: "Racing Sans One", cursive;
 text_align: inherit;
}
